body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #000000, #d4af37);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 700px;
    height: 700px;
    background: #1e1e1e;
    border-end-end-radius: 20px;
    text-align: center;
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;

}


.container h1{
  color: white;
  margin-bottom: 15px;
}

.container p{
    color: #d4af37;
    margin-bottom: 30px;
}
.input-group{
    display: flex;
    margin-bottom: 15px;
}  

input{
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
}

button{
    padding: 10px 25px;
    margin-top: 15px;
    background: black;
    border: 1px solid #d4af37;
    color: gold;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}


button:hover {
    background: black;
    color: #d4af37;
    border: 1px solid #d4af37;
}