body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #000000, #d4af37);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 700px;
    width: 600px;
    background: #1e1e1e;
    border-end-end-radius: 20px;
    text-align: center;
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;

}


.container h1{
    font-size: 48px;
  color: white;
  margin-bottom: 15px;
}

.container p{
    font-size: 20px;
    line-height: 1.6;
    color: #d4af37;
    margin-bottom: 30px;
}
.input-group{
    display: flex;
    margin-bottom: 15px;
}  

.container input{
    padding:0 15x;
    height: 55px;
    font-size: 22px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 350px;
}

button{
    padding: 10px 25px;
    margin-top: 15px;
    background: black;
    border: 1px solid #d4af37;
    color: gold;
    width: 180px;
    height: 55px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}


button:hover {
    background: black;
    color: #d4af37;
    border: 1px solid #d4af37;
}



@media(max-width: 768px) {
    .container h1{
        font-size: 3.5rem;
    }
    .container p{
        font-size: 1.3rem;
    }

    input{
        font-size: 22px;
    }

    button{
        font-size: 20px;
    }
}